@import url(./home.css);
.design-space {
    flex-basis: 70%;
    padding-left: 3rem;
}

.less-icon {
    transform: rotate(-90deg);
    font-size: 2rem;
    margin-right: 1rem;
}

.single-product-heading {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem 0 2rem 0;
}

.single-product-heading span {
    font-size: 1.6rem;
}


.design-flex {
    display: flex;
}

.single-product,
.product-info {
    display: flex;
    flex-direction: column;

}

.single-product {
    flex-basis: 50%;
    align-items: center;
}

.single-product .product-img {
    width: 90%;
    height: 90%;
}

.design-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-basis: 50%;
    grid-template-rows: repeat(3, 32%);
}

.design-grid .product-img {
    width: 9.5rem;
    height: 8rem;
    
}
.wrapper {
    display: flex;
    align-items: center;
    margin: -1rem 0;
    
}
.wrapper span {
    width: 4rem;
}
.custom-column {
    grid-row: 2/4;
    grid-column: 2;
    margin-left: -5rem;
    
}
.product-info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: -5rem;
}
.single-prod-name {
    font-size: 1.3rem;
    font-weight: 700;
}
/* CHECKBOX */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container .option_item {
    margin: 1rem 0;
}

.container .option_item .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
}

.option_item .option_inner {
    border-radius: 5px;
    text-align: center;
    height: 32px;
    width: 35x;
    cursor: pointer;
    color: #585c68;
    display: block;
    border: 5px solid transparent;
    position: relative;
}


.option_inner img {
    height: 35px !important;
    width: 35px !important;
    border: solid 1px var(--black);
}

.option_item .option_inner .tickmark {
    position: absolute;
    top: 0;
    left: 0;
    border: 20px solid;
    border-color: transparent;
    display: none;
}

.option_item .option_inner .tickmark:before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 15px;
    height: 5px;
    border: 3px solid;
    border-color: transparent transparent var(--black) var(--black);
    transform: rotate(-45deg);
}

.option_item .checkbox:checked~.option_inner .tickmark {
    display: block;
    z-index: 10;
}
.option_item .checkbox:checked~.option_inner img {
    opacity: 0.7;
}
